!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' =>'de', :lang => 'de' }
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title= "#{ yield(:title) } - Askito"
    
    = javascript_include_tag 'protoaculous.1.8.1.min', "lowpro", 'application', "textile-editor", :cache => true
    = stylesheet_link_tag "reset", "grid", "application", "forms", "textile-editor", :cache => true
    
    = textile_editor_initialize
    = yield(:header)

  %body{ :id => "#{controller.controller_name}_#{controller.action_name}"}
    #header
      %h1#logo= "Askito"
      #site_functions
        = render :partial => 'users/user_bar'
      #navigation.clear
        %ul= navigation
      
    #body
      #main
        #flashes
          - unless flash.empty?
            = print_flash
          = reset_flash_with_delay
        #actions
          %ul
            = yield(:actions)
        #content
          = yield
        #footer &nbsp;
      #sidebar
        = yield :sidebar